@import "tailwindcss";

@theme {
  /* Lemon/Yellow palette */
  --color-lemon-50: #fefce8;
  --color-lemon-100: #fef9c3;
  --color-lemon-200: #fef08a;
  --color-lemon-300: #fde047;
  --color-lemon-400: #facc15;
  --color-lemon-500: #eab308;
  --color-lemon-600: #ca8a04;
  --color-lemon-700: #a16207;
  --color-lemon-800: #854d0e;
  --color-lemon-900: #713f12;

  /* Gray palette */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  /* Purple palette */
  --color-purple-light: #b3b3ff;
  --color-purple: #7366FF;

  /* Semantic colors */
  --color-primary: rgb(242 255 102);
  --color-primary-hover: rgb(232 245 92);
  --color-secondary: var(--color-purple-light);
  --color-accent: var(--color-purple);

  /* Opinion colors (complement lemon yellow) */
  --color-positive: #06724e;
  --color-neutral: var(--color-gray-400);
  --color-negative: #e33838;

  /* Background colors */
  --color-background: #ffffff;
  --color-background-secondary: var(--color-gray-50);
  --color-surface: #ffffff;
  --color-surface-dark: #000000;
  --color-card-beige: hsla(43, 16%, 91%, .5);
}
