---
import "../styles/tailwind.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Votomatic - Descubre qué partidos políticos están más alineados con tus opiniones. La herramienta para votantes informados en Perú."
		/>
		<title>Votomatic - Encuentra tu partido político ideal en Perú</title>
	</head>
	<body class="antialiased bg-background text-text-primary">
		<slot />
	</body>
</html>
